<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ch02</display-name>
	<context-param>
		<param-name>serverName</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>dbInstance</param-name>
		<param-value>nitpro</param-value>
	</context-param>
	<context-param>
		<param-name>userName</param-name>
		<param-value>system</param-value>
	</context-param>
	<context-param>
		<param-name>userPwd</param-name>
		<param-value>manager</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>FirstServlet</display-name>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>com.haiersoft.ch02.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SecondeServlet</display-name>
		<servlet-name>SecondeServlet</servlet-name>
		<servlet-class>com.haiersoft.ch02.SecondeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SecondeServlet</servlet-name>
		<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.haiersoft.ch02.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CookieTest</display-name>
		<servlet-name>CookieTest</servlet-name>
		<servlet-class>com.haiersoft.ch02.CookieTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieTest</servlet-name>
		<url-pattern>/CookieTest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.haiersoft.ch02.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserNumber</display-name>
		<servlet-name>UserNumber</servlet-name>
		<servlet-class>com.haiersoft.ch02.UserNumber</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserNumber</servlet-name>
		<url-pattern>/UserNumber</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InitParamServlet</display-name>
		<servlet-name>InitParamServlet</servlet-name>
		<servlet-class>com.haiersoft.ch02.InitParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitParamServlet</servlet-name>
		<url-pattern>/InitParamServlet</url-pattern>
	</servlet-mapping>
	
</web-app>